<!doctype html>
<html lang="es">

<head>
    <title>Inicio</title>

    {% include 'includes.html' %}

</head>
<body>
<div class="container">

    <div class="jumbotron">
        <form method="post" role="form">
            <div class="form-group">
                <label for="ej_nombre">Nombre</label>
                <input type="text" class="form-control" id="ej_nombre"
                       placeholder="Introduce el nombre de la votación">
            </div>
            <div class="form-group">
                <label for="ej_censo">Censo</label>
                <select class="form-control" id="ej_censo" required>
                    <option>Censo 1</option>
                    <option>Censo 2</option>
                    <option>Censo 3</option>
                    <option>Censo 4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ej_votacion">Votacion</label>
                <select class="form-control" id="ej_votacion" required>
                    <option>Votacion 1</option>
                    <option>Votacion 2</option>
                    <option>Votacion 3</option>
                    <option>Votacion 4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ej_observacion">Observaciones</label>
                <textarea class="form-control" rows="5" id="ej_observacion" placeholder="Inserte las observaciones (si procede)."></textarea>
            </div>
            <div class="form-group">
                <label for="ej_radio">Pregunta</label>
                <br>
                <label class="radio-inline"><input type="radio" name="optradio" id="ej_radio">Option 1</label>
                <label class="radio-inline"><input type="radio" name="optradio" id="ej_radio1">Option 2</label>
                <label class="radio-inline"><input type="radio" name="optradio" id="ej_radio2">Option 3</label>
            </div>

            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>

</div>
</body>

</html>