<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!--<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <title>Gráfica edades</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>


</head>

<body>

<!--LLAMADA AL SCRIPT DE LA GRAFICA-->
<div class="container">
    <!--TO DO: modificar dimensiones-->
    <canvas id="myChart"></canvas>
</div>

<!-- SCRIPT DE LA PROPIA GRÁFICA-->
<script type="text/javascript">

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {

        /*TIPO DE GRÁFICO*/
        type: 'horizontalBar',

        data: {

            /* ETIQUETAS */
            labels: {{ edades|safe }},
            datasets: [{
                label: 'Votos por edades',

                /* DATOS (parcheados previamente) */
                data: {{ recuento|safe }},

                /*ESTILOS DE LA GRAFICAS*/
                backgroundColor: [
                    /* red, green, azul, transparencia(0->transparente, 1->solido)*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)',    /*Morado*/
                    'rgba(95, 26, 81, 0.5)'    /*Morado*/


                ],
                borderColor: [
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)',    /*Morado*/
                    'rgba(95, 26, 81, 1)'    /*Morado*/
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>
</html>