<!doctype html>
<html lang="es">

<head>
    <title>Inicio</title>

    {% include 'includes.html' %}

</head>

<body>

{% include 'menu.html' %}

<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">¡Bienvenidos!</h1>
        <div class="row">
            <img src="../static/images/logo_us.png" class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-7">
            <p class="col-sm-6 text-center paddingCenterText col-xs-12"><b>nVotes US</b> es una aplicación desarrollada integramente
                por
                estudiantes de la Universidad de Sevilla(US), para la asignatura Evolución y gestión de la
                configuración(EGC).</p>
        </div>
        <div class="row">
            <img src="../static/images/vote.png" class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-7">
            <p class="col-sm-6 text-center paddingCenterText col-xs-12"><b></b> Cree sus propias votaciones en pocos minutos y
                gestione sus censos de votación y realice un seguimiento de sus resultados.</p>
        </div>
        <div class="row" style="margin-top: 5%">
            <img src="../static/images/security.ico" class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-7">
            <p class="col-sm-6 text-center paddingCenterText col-xs-12">Todo esto garantizando la privacidad del voto y la
                integridad de la votación mediante el uso de criptografía, doble verificación, etc...</p>
        </div>
        <p><a class="btn btn-lg btn-info col-sm-offset-5 col-xs-offset-3 paddingCenterText" href="/login" role="button">Iniciar Sesión</a></p>
    </div>

</div>

</body>

</html>



