<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">¡Bienvenidos!</h1>
        <div class="row">
            <img src="../static/images/logo_us.png" class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-7">
            <p class="col-sm-6 text-center paddingCenterText col-xs-12"><b>nVotes US</b> es una aplicación desarrollada integramente
                por
                estudiantes de la Universidad de Sevilla(US), para la asignatura Evolución y gestión de la
                configuración(EGC).</p>
        </div>
        <div class="row">
            <img src="../static/images/vote.png" class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-7">
            <p class="col-sm-6 text-center paddingCenterText col-xs-12"><b></b> Cree sus propias votaciones en pocos minutos y
                gestione sus censos de votación y realice un seguimiento de sus resultados.</p>
        </div>
        <div class="row" style="margin-top: 5%">
            <img src="../static/images/security.ico" class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-7">
            <p class="col-sm-6 text-center paddingCenterText col-xs-12">Todo esto garantizando la privacidad del voto y la
                integridad de la votación mediante el uso de criptografía, doble verificación, etc...</p>
        </div>
        <p><a class="btn btn-lg btn-info col-sm-offset-5 col-xs-offset-3 paddingCenterText" href="/login" role="button">Iniciar Sesión</a></p>
    </div>

</div>
</body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>