<header class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index">nVotes US</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li><a href="#"><img src="../static/images/home.svg" height="20px"/> Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><img src="../static/images/votaciones.svg" height="20px"/> Mis
                            Votaciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Crear votación</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Votaciones abiertas</a></li>
                            <li><a href="#">Votaciones finalizadas</a></li>
                            <li><a href="#">Administrar votaciones</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="../static/images/censo.svg" height="20px"/> Mis censos</a></li>
                    <li><a href="#"><img src="../static/images/perfil.svg" height="20px"/>Mi perfil</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><img src="../static/images/logout.svg" height="20px"/></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>